<a href="https://colab.research.google.com/github/Herzeg137/Q-A-Python/blob/main/input_output_Q%26A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 exercise
a = int(input("First number: "))
b = int(input("Second number: "))
result = a*b
print("Multiplying...")
print("\nResult: ", result)

In [ ]:
#2 exercise
a = "Name"
b = "Is"
c = "James"

print(a,b,c, sep = '**')

In [ ]:
#3 exercise
#10 lik sanoq sistemasidagi sonni octal ya'ni 8 lik sanoq sistemasiga o'tqizish
num = 10
print('%o' % num)

In [ ]:
#3 exercise with input
print('I will convert deciminal number to octal')
num = int(input("Enter number "))
print('%o' % num)

In [ ]:
#3 exercise other way
num = int(input("Please enter a number: "))
print("Dec to octal", num, ':', oct(num))

In [ ]:
#4 exercise
#qoldiqni yaxlitlash uchun
num = 458.541315
print('%.2f' % num)

#Ex: %.2f - float ni yaxlitlash uchun ishlatiladi

In [ ]:
#5 exercise
#Foydalanuvchining 5 ta floatini chiqazish
numbers = []

flt0 = float(input("Please, enter  number "))
flt1 = float(input("Something else, with float number "))
flt2 = float(input("3 more "))
flt3 = float(input("Comon man, don't melt "))
flt4 = float(input("done "))

numbers.append(flt0)
numbers.append(flt1)
numbers.append(flt2)
numbers.append(flt3)
numbers.append(flt4)
print(numbers)

In [ ]:
#6 exercise
#Berilgan .txt faylinning 6 qatorini ochirib tashlash

#creating and writing .txt file
with open('test.txt', 'r+') as f:
  f.write('line1\n')
  f.write('line2\n')
  f.write('line3\n')
  f.write('line4\n')
  f.write('line5\n')
  f.write('line6\n')
  f.write('line7\n')
  f.close()

In [ ]:
#6 exerices continue
#deleting item
  with open("test.txt", "r") as f:
      
    # read data line by line 
    data = f.readlines()

with open("test.txt", "w") as f:
   for line in data :
          
        # condition for data to be deleted
        if line.strip("\n") != "line6" : 
            f.write(line)

In [ ]:
#7 exercise
#Kiritilgan 3 ta ismni ajratish
names = input("Enter 1 name ")
name2 = input("Enter 1 name ")
name3 = input("Enter 1 name ")
print('Name1: ', names)
print('Name2: ', name2)
print('Name3: ', name3)

In [ ]:
#other way of 7 exer
words = input("enter 3 names ").split()
if len(words) != 3:
   raise ValueError("Not three words provided")
str1, str2, str3 = words
print('first name: ', str1)
print('second name: ', str2)
print('third name: ', str3)

In [ ]:
#8 exercise
totalMoney = 1000
quantity = 3
price = 450
print("I have ", totalMoney, "dollars so I can buy ", quantity,  "football for ", float(price),  "dollars.")

In [ ]:
#9 exercise
#Check file, empty or not
#Install file
#empty = []

with open('filename.txt', 'r') as f:
  if len(f.readlines()) is 0:
    print("it\'s empty")
  else:
    print("it has smth")

In [ ]:
#10 exer
with open("/content/text.txt", "r+") as fp:
    # read all lines from a file
    lines = fp.readlines()
    # get line number 3
    print(lines[4])