<a href="https://colab.research.google.com/github/Herzeg137/Q-A-Python/blob/main/List_Q%26A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 exercise
#Reversing
list1 = [100, 200, 300, 400, 500]
#output must be: [500, 400, 300, 200, 100]
list1.reverse()
print(list1)

In [ ]:
#other way of 1 exe
list1 = [100, 200, 300, 400, 500]

#output must be: [500, 400, 300, 200, 100]
print(list1[::-1])

In [ ]:
#2 exer
#Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

#output should be: ['My', 'name', 'is', 'Kelly']
res = [i + j for i, j in zip(list1, list2)]
print(res)

In [ ]:
#3 exer
#Turn every item of a list into its square
numbers = [1, 2, 3, 4, 5, 6, 7]
#output must be: [1, 4, 9, 16, 25, 36, 49]

def square(numbers):
    return [i ** 2 for i in numbers]
print(square(numbers))

In [ ]:
#3 exer 
#2 method
numbers = [1, 2, 3, 4, 5, 6, 7]
#output must be: [1, 4, 9, 16, 25, 36, 49]

def square(numbers):
    squares = []
    for i in numbers:
        squares.append(i**2)
    return squares
print(square(numbers))

In [ ]:
#3 exer
#3 method
numbers = [1, 2, 3, 4, 5, 6, 7]
#output must be: [1, 4, 9, 16, 25, 36, 49]

res = [x * x for x in numbers]
print(res)

In [ ]:
#4 exer
#Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
#output must be: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

res = [x + y for x in list1 for y in list2]
print(res)

In [ ]:
#5 exer
#Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
#output must be:
# 10 400
# 20 300
# 30 200
# 40 100
for (a, b) in zip(list1, list2[::-1]):
     print (a, b)
#Note: full article: 
https://www.geeksforgeeks.org/python-iterate-multiple-lists-simultaneously/

In [ ]:
#6 exer
#Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
#output must be: ["Mike", "Emma", "Kelly", "Brad"]

res = list(filter(None, list1))
print(res)

In [ ]:
#7 exer
#Add new item to list after a specified item
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
#output must be: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

In [ ]:
#8 exer
#Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

can't

In [ ]:
#9 exer
#Replace listâ€™s item with new value if found
list1 = [5, 10, 15, 20, 25, 50, 20]
#output must be: [5, 10, 15, 200, 25, 50, 20]

index = list1.index(20)

list1[index] = 200
print(list1)

In [ ]:
#10 exer
#Remove all occurrences of a specific item from a list.
list1 = [5, 20, 15, 20, 25, 50, 20]
#output must be: [5, 15, 25, 50]

while 20 in list1:
    list1.remove(20)
print(list1)